.brtt-contain {
  display: flex;
  align-items: center;
  background-color: #2F3651;
  border-radius: 1rem;
  padding: 0;
  margin: 0rem 1rem;
}

.brtt-image-tablet {
  display: none;
}

.brtt-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5rem;
  gap: 0.6rem;
}

.brtt-content h2 {
  font-weight: 700;
  font-size: 24px;
}

.brtt-content p {
  font-weight: 500;
  font-size: 12px;
}

.location {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 0.1rem;
  gap: 0.3rem;
}

.location p {
  color: #747DA4;
  font-weight: bold;
}

.email-contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4rem;
  gap: 0.3rem;
  background-color: #454F76;
  width: fit-content;
  border-radius: 5px;
}

.email-contain p {
  font-weight: bold;
  color: #8B95BF;
}

@media (min-width: 768px){
  .brtt-contain {
    width: 750px;
    height: 327px;
  }

  .brtt-content {
    padding-right: 1.5rem;
    gap: 1.1rem;
  }

  .brtt-image-celular {
    display: none;
  }

  .brtt-image-tablet {
    display: block;
    width: min-content;
  }

  .brtt-content h2 {
    font-size: 36px;
  }

  .brtt-content p {
    font-size: 16px;
  }

  .location {
    font-size: 16px;
  }

  .location img {
    width: 15px;
  }
}

@media (min-width: 820px){
  .brtt-contain {
    width: 800px;
  }
}

@media (min-width: 925px){
  .brtt-contain {
    width: 900px;
  }
}

@media (min-width: 1220px) {
  .brtt-contain {
    width: 1000px;
  }
}

@media (min-width: 1320px) {
  .brtt-contain {
    width: 1280px;
  }
}