@import url(/src/styles/header.css);
@import url(/src/styles/brtt-contain.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: #212430;
  color: #FFF;
}
